*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  


header{
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    width: 1920px;
    height: 103px;
    background-color: #4EA0FF;
    position: relative;
}

.logosvg{
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 10px;;
}

#titolo{
    width: 1500px;
    font-size: 30px;
    margin-top: 20px;
    


}

.testogrigio{
    color:#8F8F8F;
}

.testoazzurro{
    color: #3DB4E8;
}

.scrittefoto{
    font-size: 15px;
}

article{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

#tabella{  
    /* width: 200; */

}

td, th, tr {
    /* padding: 8px; */
    width: 20%;
  }

  .tdheader{
      background-color: #20A9E5;
  }

  .tdbody{
      background-color: #B1E5F2;
  }

  