*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

.margineSinistro{
    margin-left: 15px;
    margin-top: 15px;
  }


header{
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
    width: 1920px;
    height: 180px;
    background-color: #4EA0FF;
    position: relative;
}

.logosvg{
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 10px;;
}

#titolo{
    width: 1500px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testogrigio{
    color:#8F8F8F;
    font-size: 20px;
}

.testoazzurro{
    color: #3DB4E8;
}

.scrittefoto{
    font-size: 15px;
}

article{
    font-size: 25px;
    margin-top: 10px;
}


td, th, tr {
    width: 30%;
  }

  .tdheader{
      background-color: #20A9E5;
      color: white;
  }

  .tdbody{
      background-color: #B1E5F2;
  }

  #evidenziato{
      background-color: yellow;
  }


  .immagineconscritta1{
      text-align: center;
      background-image: url(../img/monitor.jpg);
      width: 312px;
      height: 208px;
      margin-top: 10px;
  }

  .immagineconscritta2{
    text-align: center;
    background-image: url(../img/graph.jpg);
    width: 312px;
    height: 208px;
    margin-top: 10px;
}

h2{
    color: white;
}



  